<%= form_with model: @message, url: user_messages_path(@user), method: :post, :remote => true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, :placeholder => '送信するメッセージを入力してください。(50字まで)', class: 'form-control' %>
  </div>
  <%= f.submit "送信する", class: 'btn btn-primary' %>
<% end %>