<div class='user-bg'>
  <div class='bg-mask'>
    <div class="container">

      <div class="row">
        <div class="col-lg-3">
          <%= link_to 'ユーザーのプロフィールを見る', user_path(@user), class: 'btn btn-primary' %><br><br><br>
          <% if @user.id != current_user.id %>
            <%= link_to 'メッセージルームへ行く', user_message_path(@user), class: 'btn btn-primary'%>
          <% end %>
        </div>
        <div class="col-lg-6">
          <div class="overflow-auto message" style="height:500px;">
          
            <%# メッセージを表示 %>
            <div id="message-index">
              <%= render partial: "messages/message", locals: { @messages => @messages } %>
            </div>
          </div>
          <%# メッセージフォーム %>
          <%= render partial: "messages/form", locals: { @user => @user } %>
        </div>

      </div>
    </div>
  </div>
</div>  
  
  
  
  
  