<%# OpenWeatherMap表示 %>
  <div id="city-name"></div>
  <div id="weather"></div>

<%# google map表示 %>
<script id="googlemap" src="https://maps.googleapis.com/maps/api/js?key=<%=@API_KEY_map%>" async defer></script>
<div id='map' style="height:500px;"></div>
