<div class='riderhouse-bg'>
  <div class='bg-mask'>
    <div class="container">

      
      <div class="row">
        <div class="col-lg-6">
          <%= render partial: "riderhouses/show", locals: { @riderhouse => @riderhouse } %>
        </div>

        <div class="col-lg-4">
          <div class="overflow-auto post" style="height:680px;">
            <%# 口コミを表示 %>
            <div id="post-index">
              <%= render partial: "posts/create", locals: { @posts => @posts } %>
            </div>
          </div> 
          <%# 口コミ投稿フォーム %>
          <%= render partial: "posts/form", locals: { @riderhouse => @riderhouse } %>
        </div>
      </div>
    </div>
  </div>
</div>

