<div class='home-bg'>
  <div class='bg-mask'>
    <div class="outer">
      <div class="inner">
        <div class="title">
          RiderHouse Review Site
        </div>
        <div class="description">
        みんなで口コミを共有しよう！
        </div>
        <div class="button">
          <%= link_to '口コミを見る', new_user_session_path, class: 'btn-gradient-3d-orange' %>
        </div>
      </div>
    </div>
  </div>
</div>