main {

  .riderhouse-bg {
    background-image: image-url('riderhouse_bg_img.jpg');
    background-size: cover;
    
    .bg-mask {
    background-color:rgba(255,255,255,0.3);
    height: 100%;
    }
  }

  .user-bg {
    background-image: image-url("user_bg_img.jpg");
    background-size: cover;
    
    .bg-mask {
    background-color:rgba(255,255,255,0.3);
    height: 100%;
    }
  }

  .favorite-bg {
    background-image: image-url("favorite_bg_img.jpg");
    background-size: cover;
    
    .bg-mask {
    background-color:rgba(255,255,255,0.3);
    height: 100%;
    }
  }

  .index-box {
    width: 240px;
    height: 330px;
    margin-bottom: 10px;
    border-bottom: solid 1px #c0c0c0;
  }

  .riderhouse-show-table {
    width: 500px;
  }
}